.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.link {
  margin-bottom: 25px;
  background-color: black;
  color: white;
  padding: 5px; 
  padding-left: 10px; 
  padding-right: 10px; 
  border-radius: 12px;
}
.mt10px {
  margin-top: 10px;
}
.mt10px:hover {
  text-decoration: underline;
}